$colorbg: skyblue;
$colortexto: gold;
$whidthh1: 250px;

body{ background-color: $colorbg;}

#header {
    background-color: black;
    padding: 83px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(/Img/Negro\ con\ Flecha\ Amarilla\ Autos\ Logo.png);

   & &__.titulo img {
        width: 100px;
        height: auto;

    &__ menu {
        
        ul { list-style-type: none;
                     
            li{   display: inline block;

                a{ border: 2px solid  white;
                    padding: 5px;
                    margin: 0 10px;                    
                    color: yellow;
                    float: left;
                    text-decoration: none;

                }
                
            }
        }
    }

  }
}

#mensaje {
    background-image: url(/Img/discos-freno-volkswagen.jpg);
    background-position:top left;
    background-size: cover;
    color:black;
    height: $whidthh1;
    width: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0px;

     &__mensaje__import h1 {
        text-align-last: auto;
        
    }
}
.texto__parrafo{     
    & &__texto__parrafo{
    color: $colortexto;

}
}

    #consulta {      
    &_ consulta{
        margin-top: 20px;
 
    }
}

#parrafo .parrafo__{
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#parrafo {
    &__parrafo__span{ 
    background-color:red;
}
 }
#parrafo_boton{
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#parrafo{
    margin-top: 30px;
    margin-bottom: 15px;
}
.carousel-iner{
    max-width: 39rem;
    max-height: 39rem;
   
   }


   /*MAPS-*/
   $redes: (  
instagram: red,
facebook: blue
);

@each $nombre, $valor in $redes {

    .icon-#{$nombre}  {
        background-color: $valor;


    }
    
}

$colores:(
principal: gold,
base: black,
fondo: aqua

);

#foter { 
    background-color: green;
    
}


/* Registro*/ 

  
  #header {
    background-color: black;
    padding: 83px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  
  
  #registro {
    -moz-text-align-last: auto;
         text-align-last: auto;
  
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #parrafo_boton {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #parrafo {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .carousel-iner {
    max-width: 39rem;
    max-height: 39rem;
  }
  
  /*MAPS-*/
  .icon-instagram {
    background-color: red;
  }
  
  .icon-facebook {
    background-color: blue;
  }
  
  #foter {
    background-color: green;
  }/*# sourceMappingURL=style.css.map */